body {
  background: #292929;
}

.text{
  position: relative;
}

.text__title {
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.text__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  background: #905656;
  border: 5px solid #FFF;
  border-radius: 100px;
  transform: translate(350px);
}

.text__title::after {
  content: '';
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  background: #51307e;
  border: 5px solid #FFF;
  border-radius: 100px;
  transform: translate(1040px, -115px);
}